
#users_table_container{
    min-height: 70vh;
    padding-top: 10px;
    width: 60vw;
    margin:auto;
}


#users_table{
    width: calc(100% - 20px);
    margin: auto;
}

#search_container{
    display: flex;
    margin:20px 20px;
    width: unset;
}

#search_container>input[type="text"]
{
    width: 100%;
    margin: 0 10px;
}
#search_container>h3{
    color: var(--primary);
}

#search_container>button{
    width: 100px;
    margin: 0 10px;
    font-size: 13px;
}