@font-face {
    font-family: text_bold;
    src: url("../fonts/montserrat_bold.ttf");
}
@font-face {
    font-family: text_regular;
    src: url("../fonts/montserrat_regular.ttf");
}
@font-face {
    font-family: text_thin;
    src: url("../fonts/montserrat_thin.ttf");
}

:root{
    --primary-light:#3B84F1;
    --primary:#5271ff;
    --primary-darker:#223baa;
    --danger:#ff385a;
    --text-color-dark:#000000B3;
    --warning:#ffc107;
    --success:#34cc36;
}

body{
    overflow-x: hidden;
}


*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a{
    text-decoration: none;
    color:black;
}


a>button:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

input[type="radio"]{
    width: 15px;
    height: 15px;
}

input[type="radio"]:hover{
    cursor: pointer;
}

.hidden{
    display: none!important;
}

/* TEXT */
.text_primary{
    color: var(--primary);
}

.text_danger{
    color:var(--danger);
}

.text_warning{
    color: var(--warning);
}

.text_info{
    color: var(--primary);
}
.text_success{
    color: var(--success);
}

/* POSITIONING */

.m_auto{
    margin: auto!important;
}

/* DIMENSIONS */

.w_100{
    width: 100%!important;
}

/* INPUTS */

.default_input{
    min-height: 30px;
    border-radius: 7px;
    outline: none;
    border:solid 1px rgba(0, 0, 0, 0.37);
    padding: 0 10px;
}

/* BUTTONS */

.transparent_button{
    background-color: transparent;
    outline:none;
    border:none;
    min-height: 30px;
    color: white;
    font-family: text_bold;
    font-size: medium;
    border-radius: 7px;
}

.default_button{
    background-color: var(--primary);
    outline:none;
    border:none;
    min-height: 30px;
    color: white;
    font-family: text_bold;
    font-size: medium;
    border-radius: 7px;
}

.danger_button{
    background-color: var(--danger);
    outline:none;
    border:none;
    min-height: 30px;
    color: white;
    font-family: text_bold;
    font-size: medium;
    border-radius: 7px;
}

/* Containers */

.bordered_container{
    border-radius: 20px;
    box-shadow: 0cm 0px 5px 1px rgba(0, 0, 0, 0.144);
    
}


.container_col_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* Tables */


.default_table{
    
    border-spacing: 0;
}

.default_table th{
    
    font-weight: 600;
    background-color: #5271ff9c;
    padding: 5px 0;
    font-size: small;
}



.default_table th:nth-child(1)
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.default_table th:last-child
{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.default_table td{
    margin-top: 10px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.322);
    font-size: 13px;
}



.default_table td>button{
    padding: 5px 7px;
}
.default_table td>button>img{
    width: 20px;
    height: 20px;
}


.labeled_hr{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.labeled_hr h4{
    padding: 0 10px;
}

.custom_hr{
    width: 100%;
    height: 1px;
    position: relative;
}

.labled_hr_primary .custom_hr{
    background-color: var(--primary);
}


