
#users_container{
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

#users_container>table{
    width: calc(100% - 20px);
    margin: auto;
}


#users_container>table td>button{
    width: 50px;
    align-items: center;
    justify-content: center;
}
#users_container>table td>button>img{
    width: 30px;
    height: 30px;
}


#table_top_container{
    padding-top: 10px;
}

#table_top_container>h2{
    
    margin-left: 20px;
    padding: 10px 0;
    color: var(--primary);
}
#search_container{
    display: flex;
    margin: 0px 20px;
    margin-bottom:20px ;
    width: unset;
}

#search_container>.labeled_container_row
{
    margin: 0 10px;
}